*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a{
  display: inline-block;
  text-decoration: none;
}
li{
  list-style: none;
}
a{
  color: #fff;
}
img {
  vertical-align: middle;
}
body{
  font-family: "Nunito", sans-serif;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.logo{
  font-size: 20px;
  font-weight: 700;
}

.menuItemns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.CountriesSection{
  background: #f2eaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CountriesSectionHeading{
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.list-item{
  width: 80%;
  max-width: 500px;
  padding: 20px;
  margin: 5px 50px 5px 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
}
.list-img {
  width: 50px;
height: 30px;
margin-right: 10px;
object-fit: cover;
}
.list-text {
  font-size: 16px;
  color: #333;
}